# Dependencias
node_modules/
**/node_modules/

# Variables de entorno
.env
.env.*
!.env.example

# Builds
dist/
build/
.vite/

# Logs
*.log
npm-debug.log*

# Prisma
*.db
*.db-journal

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml